{% if messages %}
<div  class="row">
  <div class="col-md-12">
    {% for message in messages %}
      {% if message.level == 40 %}
        <div class="alert alert-dismissible alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
      {% endif %}
      {% if message.level == 25 %}
        <div class="alert alert-dismissible alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
