{% extends 'base.html' %}
{% block page_title %}Login{%endblock%}
{% block content %}
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-4 mt-5">
        <div class="text-center">
          <h5>Sign in to Django Lunch & Learn</h5>
        </div>
        <div class="card mt-4">
          <div class="card-block">
            {% include 'includes/alert-messages.html' %}
            <form class="form-signin" action="." method="post">
            {% csrf_token %}
              <div class="form-group">
                <label for="inputEmail"><strong>Username or email address</strong></label>
                {{ form.username }}
              </div>
              <div class="form-group">
                <label for="inputPassword"><strong>Password</strong></label>
                {{ form.password }}
              </div>
              <button class="btn btn-primary btn-block mt-3" type="submit">Sign in</button>
            </form>
          </div>
        </div>  
    </div> 
    </div>
</div>
{% endblock %}
